* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blue: hsl(223, 87%, 63%);
  --blue-pale: hsl(223, 100%, 88%);
  --red-light: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --blue-very-dark: hsl(209, 33%, 12%);
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background: #fff;
  font-family: 'Libre Franklin', sans-serif;
}

#container {
  width: 90vw;
  max-width: 640px;
  text-align: center;
}

h1 {
  flex-basis: content;
  width: 100%;
  font-size: 32px;
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 40px;
}

h1 > strong {
  color: var(--blue);
}

h2 {
  flex-basis: content;
  width: 100%;
  font-size: 48px;
  /* font-style: normal; */
  font-weight: 300;
  line-height: 60px;
  color: var(--gray);
  margin-bottom: 16px;
}

h2 > strong {
  font-weight: 600;
  color: var(--blue-very-dark);
}

p {
  line-height: 24.24px;
  margin-bottom: 40px;
  color: var(--blue-very-dark);
}

.screenshot {
  max-width: 100%;
  height: auto;
  margin-top: 94px;
  margin-bottom: 72px;
}

.social-links {
  margin-bottom: 25px;
}

.social-links a:hover, .social-links a:focus {
  animation-name: socialAnimation;
  animation-duration: 0.4s;
}

.social-links {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	list-style-type: none;
}

.social-links li {
	margin: 10px;
}

.social-links li a {
	border: 1px solid hsl(0, 7%, 89%);
	border-radius: 50%;
	color: var(--blue);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	height: 40px;
	width: 40px;
	text-decoration: none;
}

.social-links li a:hover, .social-links a:focus {
	background-color: var(--blue);
	border-color: var(--blue);
	color: #fff;
}

@keyframes socialAnimation {
  0% {
    scale: 1.0;
    font-size: 1px;
  }
  60% {
    scale: 1.2;
  }
  100% {
    scale: 1.0;
    background: #4C7BF3;
    font-size: 18px;
  }
}


footer {
  align-self: flex-end;
  width: 100%;
  text-align: center;
  /* margin-bottom: 29px; */
}

.copyright {
  color: var(--gray);
  font-size: 12px;
  font-weight: 300;
  margin-top: 15px;
}

.attribution {
  height: 20px;
  font-size: 12px;
  color: #E0E0E0;
}

.attribution a {
  color: #E0E0E0;
  font-weight: bold;
  text-decoration: none;  
}

.attribution:hover, .attribution:hover a{
  color: #555;
}

.attribution:hover a:hover{
  color: #000;
}

.hideForm {
  animation-name: hideForm;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes hideForm {
  from {
    scale: 1.0;
  }
  to {
    scale: 0.001;
    visibility: hidden;
  }
}

.container__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form__message {
  visibility: hidden;
  width: 100%;
  margin-top: 6px;
  padding-left: 40px;
  color: var(--red-light);
  text-align: left;
  font-size: 12px;
  font-style: italic;
}

.form__message--visible {
  visibility: visible;
}

input {
  border: 1px solid var(--blue-pale);
  width: 421px;
  height: 56px;
  font-size: 16px;
  border-radius: 28px;
  padding: 0 30px 0 30px;
}

.input--invalid {
  border: 1px solid var(--red-light);
}

input::placeholder {
  color: var(--blue-pale);
}

input#email:focus {
  outline: none;
  border: 2px solid #2ECC71;
  transition-property: all;
  transition-duration: 0.35s;
  animation-duration: 0.4s;
  animation-name: focusBounce;
}

button {
  width: 200px;
  height: 56px;
  margin-left: 16px;
  border-radius: 28px;
  background: var(--blue);
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 600;
  transition-property: background;
  transition-duration: 0.35s;
}

button[type=submit]:focus {
  outline: none;
  background: #2ECC71;
  transition-property: all;
  transition-duration: 0.35s;
  animation-duration: 0.4s;
  animation-name: focusBounce;
}

button[type=submit]:hover {
  background: #2ECC71;
  transition-property: all;
  transition-duration: 0.35s;
}

.bounce {
  animation-name: focusBounce;
  animation-iteration-count: 2;
  animation-duration: 0.4s;
}

.bold {
  font-weight: 700;
}

@keyframes focusBounce {
  from {
    scale: 1.0;
  }
  70% {
    scale: 1.1;
  }
  to {
    scale: 1.0;
  }
}

@media screen and (max-width: 375px) {
  body {
    font-size: 12px;
  }
  #container {
    max-width: 640px;
    padding-left: 27px;
    padding-right: 27px;
  }
  
  h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 22px;
    margin-bottom: 0;
  }

  input, button {
    max-width: 281px;
    max-height: 40px;
  }

  button {
    width: 100%;
    margin-left: 0;
  }

  .container__form {
    margin-top: -15px;
  }
  
  .form__message {
    order: 0;
    margin-top: 0;
    margin-bottom: 20px;
    padding-left: 0;
    font-size: 10px;
    text-align: center;
  }

  .screenshot {
    width: 320px;
    height: 192px;
    margin-top: 40px;
  }
  
}

@media (prefers-reduced-motion: reduce) {
  *, ::before, ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}